{% extends 'base.html' %}

{% block head %}
{% endblock  %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Settings</h2>
          {% for field in form %}
          {{ field.label }}: {{ field }}<br>
          {% endfor %}
        </div>
        <div class="col-md-8">
          <h2>Map</h2>
        </div>
      </div>

      <hr>
{% endblock %}

{% block footer %}
        <p>&copy; Company 2014</p>
{% endblock %}
